/* constrain width - hide all from Mac IE \*/

/* body constrain \*/
#constrain, .constrain-outer {
	clear:both;
	text-align:center;
	padding:0;
}

#constrain .constrain, .constrain-outer .constrain {
	max-width:966px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

