


figcaption {
  padding: 5px;
  font-family: 'Cherry Swash', cursive;
  font-size: 0.7em;
  font-weight: 700;
  border: none;
  background: transparent;
  word-wrap:normal;
  text-align: center;
}



